<h1>My Bookings</h1>

<ol><% @bookings.each do |booking|%>
    <% if @user.id == booking.user_id  %>
        <li>Starting Date - <%=booking.start_date%>. Ending Date - <%=booking.end_date%>. <%= link_to "Cancel" %> </li>
    <% end %>
    <%end%>
</ol>

<br>

<%= link_to "Back", cars_path %>