<div class="container-footer">
  <div class="cell-top">
    <h3 class="footer-title"><strong>Discover RentMe</strong></h3>
    <p class="text-align-center">RentMe aims to be the leader in car hire and mobility services in Mauritius by providing an outstanding and unique customer experience.</p>
  </div>

  <div >
    <ul class="cell-items">
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">OUR CARS</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </div>

  <div class="cell-bottom">
    <div class="cell-number">
      <p>HOTLINE + (230) ### ####</p>
    </div>

    <div class="icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>