<div class="container-footer">
  <div class="cell">
    <h3><strong>Discover RentMe</strong></h3>
    <p>RentMe aims to be the leader in car hire and mobility services in Mauritius by providing an outstanding and unique customer experience.</p>
  </div>

  <div class="cell-items">
    <ul>
      <li itemprop="name"><a href="#">HOME</a></li>
      <li itemprop="name"><a href="#">ABOUT US</a></li>
      <li itemprop="name"><a href="#">OUR CARS</a></li>
      <li itemprop="name"><a href="#">CONTACT US</a></li>
    </ul>
  </div>

  <div class="cell-number">
    <p>HOTLINE + (230) ### ####</p>
  </div>

  <div class="icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>