// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "cardindex";
@import "testimonial-homepage";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.notice {
  background: lightyellow !important;
  display: none;
}

body {
  background-color: #e5eaee;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
